@charset "utf-8";

/* CSS code */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.margin-20 {
    margin: 20px;
}

.small-col{
    margin: 0 20px;
}

#header{
    height: 50px;
    background-color: #ccc;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.logo{
    height: 40px;
    position: fixed;
    top: 5px;
    left: 20px;
}

#nav>li{
    display: block;
    position: relative;
    float: right;
    line-height: 50px;
}

#nav > li > a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    min-height: 50px;
    overflow: hidden;
}

#nav > li:hover > .subnav{
    display: block;
}

#nav > li:hover > a{
    color:white;
    background-color: #000;
    transition: .2s ease;
    font-size: 20px;
}

#nav .subnav{
    background-color: #000;
    position: absolute;
    display: none;
    box-shadow: 0px 2px 10px #ccc;
    /* z-index: 1; */
}

#nav .subnav li{
    list-style-type: none;
    min-width: 140px;
}

.subnav > li > a{
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
}

.subnav > li > a:hover{
    transition: .2s ease;
    font-size: 18px;
    background-color: #ccc;
    color: #000;
    border-left: 2px #000 solid;
}

#banner{
    background: url('../imgs/sportster-s-homepage-tall-hero-desktop.jpg') top center / cover no-repeat;
    width: 100%;
    padding-top:40%;
    margin-top: 50px;
    position: relative;
}

.text-content {
    width: 25%;
    height: auto;
    background-color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.top-white {
    z-index: -1;
    position: absolute;
    width: 120%;
    height: 30%;
    background-color: #fff;
    transform: translateX(-5%) translateY(-10%) rotate(2deg);
}

.top-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 28px;
    min-width: 300px;
    margin: 20px;
}

.mid-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    font-size: 17px;
    margin: 20px;
}

.bot-text {
    text-align: center;
    margin: 0 24px;
    
}
.bot-text button {
    width: 100%;
    transform: translateY(20%);
    height:auto;
    margin-top: -16px;
    font-size: 20px;
    padding: 16px;
    border:none;
    font-weight: bold;
    background-color: rgb(255, 115, 0);
    color: #fff;
}

.bot-text button:hover {
    cursor: pointer;
    background-color: rgb(255, 115, 0);
}


#content {
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    background-color: rgb(236, 236, 236);
}

.row{
    margin: 20px 20px 0 20px ;
 }
    
 .banner-desc{
     font-size: 12px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 10px;
     text-align: center;
     font-style: italic;
     color: rgb(129, 129, 129);
 }

 .motor-type{
     display: flex;
     justify-content: center;
     padding-top: 20px;
     /* margin: 0 20px; */
     width: 100%;
     flex-wrap: wrap;
 }

 .motor-type .motor-type__cruise, .motor-type__sport, .motor-type__touring{
    padding: 0 20px 0;
    font-size: 20px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    border-left: #ccc solid 1px;
    border-right: #ccc solid 1px;
 }

 .motor-type a{
     text-decoration: none;
     color: #000;
 }

 .motor-type a:hover{
     opacity: 0.6;
 }
/* 
 .motor-type a:visited{
     color: red;
 } */

.bike-color__red {
    height: 20px;
    width: 20px;
    background-color: rgb(172, 21, 21);
    border-radius: 50%;
}

.bike-color__blue {
    height: 20px;
    width: 20px;
    background-color: rgb(4, 132, 206);
    border-radius: 50%;
    margin-left: 5px;
}

.bike-color__green {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 155, 34);
    border-radius: 50%;
    margin-left: 5px;
}

.bike-color__black {
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 5px;
}

.bike-color {
    display: flex;
}

.bike-color__red:hover, .bike-color__blue:hover, .bike-color__green:hover, .bike-color__black:hover {
    opacity: 0.6;
}
.bike-content{
    padding: var(--spacing);
    /* background-color: #fff; */
}

.bike:hover {
    background-color: #fff;
}

.bikes {
    --spacing: 20px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}

.bike {
    transition: background-color .15s ease-in-out;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    /* border-radius: 20px 20px 0 0; */
    /* background-color: #fff; */
    overflow: hidden;
    width: calc(100% / var(--columns) - var(--spacing));

}

.bike-img img{
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;
}

.bike-price {
    padding: calc(var(--spacing) / 2) 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.bike-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.bike a {
    text-decoration: none;
    color: #000;
}

#content > div:not(:last-child) {
    margin-bottom: 40px;
}

.content__news .news1 {
    display: flex;
    margin: 20px;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.news1__pic {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news1__img {
    width: 100%;
}

.news1 .news1__text {
    flex: 0.4;
    margin-left: 10%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-text-content .text__top {
    font-weight: 600;
    color: rgb(146, 52, 52);
    margin-bottom: 10px;
    font-size: 24px;
}

.news-text-content .text__mid {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-text-content .text__bot {
    font-size: 20px;
}

.news-text-content {
    margin-bottom: 20px;
}

.read-more {
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 115, 0);
    width: 50%;
    text-align: center;
    padding: 20px 10px;
    font-weight: 600;
    font-size: 20px;

}

.read-more:hover {
    opacity: 0.7;
}

.content__news .news2 {
    display: flex;
    margin: 20px;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.news2__pic {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news2__img {
    width: 100%;
}

.news2 .news2__text {
    flex: 0.3;
    margin-right: 10%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news2__text > .read-more {
    width: 100%;
}

.content-buy {
    --spacing: 20px;
    --columns: 3;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 20px 20px 0px 0px;
}

.content-buy .content-buy__card {
    width: calc(100% / var(--columns) - var(--spacing));
    margin-left: var(--spacing);
    /* height: 2000px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.content-buy .content-buy__title {
    font-size: 20px;
    font-weight: 550;
    
}

.content-buy .content-buy__desc {
    font-size: 18px;
}

.button-medium {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 115, 0);
    padding: 16px 16px;
    /* margin-top: 100px; */
    font-size: 20px;
    font-weight: 550;
    width: 100%;
    text-align: center;
    
}

.button-medium:hover {
    opacity: 0.6;
}

.content-buy__pic {
    width: 100%;
}

.content-buy__card div {
    margin-bottom: 10px;
}

.content-buy__card .content-buy__text {
    margin-bottom: 10px;
}

.content-buy__button {
    margin-top: auto;
}

/* .content-buy__card {
    justify-content: space-between;
} */


#footer{
    margin: 0px;
    background-color: #000;
}


.footer__top {
    color: rgb(255, 115, 0);
    /* opacity: 0.8; */
    border-bottom: #fff solid 1px;
    /* padding: 0 -20px; */
    margin: 20px 0px;
    padding: 20px 0;
}

#footer > div:not(:first-child) {
    padding: 20px;
}

.footer-text h2, .footer-text a {
    margin-bottom: 10px;
}

.footer-text a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.footer-text__title {
    color: #fff;
}


.footer-content {
    max-width: 80%;
    margin: auto;
}

.footer__mid {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    border-bottom: #fff solid 1px;
}


.footer__mid > div:not(:first-child) {
    margin-left: 20px;
}

.footer__bot {
    margin: 20px 0 0 0;
    padding-bottom: 20px;
}

.language {
    font-size: 20px;
    margin-bottom: 10px;
}

.language select {
    /* height: 30px; */
    /* width: 40px; */
    font-size: 16px;
    padding: 5px;
}

.social-media i {
    color: #fff;
    font-size: 30px;
}

.social-media a {
    margin-left: 20px;
    text-decoration: none;
    
}

.social-media i:hover {
    color: rgb(255,155,0);
}

.footer__bot-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer__bot-bot {
    font-size: 16px;
    opacity: 0.6;
    text-align: center;
}

.navbar-new {
    background-color: #000;
    height: 50px;
    width: 100%;
}

.menu-button {
    display: none;
}

.footer-text a:hover {
    color: rgb(255,155,0);
}